.form-control {
  padding: 0.5rem;
}

.form-control label {
  display: block;
  padding: 0.3rem 0;
  color: rgb(97, 96, 96);
  font-size: 1.1rem;
}

.form-control input,
.form-control select {
  width: 100%;
  padding: 0.5rem;
  border: none;
  border-radius: 10px;
}

.form-control{
  padding: 0.5rem 2rem;
}

.error-msg {
  padding: 0.5rem 0;
  color: rgb(167, 19, 19);
}

.contacts-container {
  width: 95%;
  max-width: 60rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8rem;
  margin-bottom: 8rem;
}
