.header {
  width: 100%;
  height: 5rem;
  border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px;
  background-color: rgb(231, 89, 37);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10%;
  color: rgb(34, 34, 34);
}

.header a {
  padding: 0.5rem;
  text-decoration: none;
  font-weight: bold;
  color: rgb(34, 34, 34);
}

.header a:hover,
.header a.active {
  border-bottom: 4px solid rgb(34, 34, 34);
}

.header h1 {
  font-size: 2rem;
}

.header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 2rem;
  align-items: center;
}

i {
  padding: 0.3rem;
}

.logout-btn{
    padding: .3rem .8rem;
    font-size: 1.3rem;
    font-weight: bold;
    background: none;
    border: none;
    border: 2px solid rgb(230, 229, 229);
    color: rgb(230, 229, 229);
    border-radius: 10px;
}

.logout-btn:hover {
  background: rgb(192, 57, 57);
  border: 2px solid white;
  color: white;
  cursor: pointer;
}
