.form-page{
    height: 100vh;
    width: 100%;
    display: flex;
}

.form-info{
    height: 100%;
    width: 50%;
    position: relative;
}

.form-info img{
    width: 100%;
    height: 100%;
}


.form-info h1{
    position: absolute;
    z-index: 10;
    font-size: 4rem;
    padding: 20px 0px;
    background: rgba(0, 0, 0, .4);
    width: 100%;
    text-align: center;
    top: 20%;
}

.form-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50%;
}

.form {
    padding: 20px;
    border-left: 3px solid rgb(231, 89, 37);
    margin-left: 5rem;
    color: rgb(97, 97, 97);
    width: 40rem;
}

.form-control, .btn-container{
    padding: .5rem;
}

.form-control label{
    display: block;
    font-size: 2rem;
    padding: .5rem 0;
}

.form-control input {
    width: 100%;
    font-size: 2rem;
    padding: .2rem;
}


.btn-container button{
    padding: 7px 12px;
    background: none;
    border: none;
    font-size: 1.5rem;
    background: rgb(231, 89, 37);
    width: 50%;
    border-radius: 10px;
    margin-top: 1.5rem;
}

.btn-container button:hover{
    cursor: pointer;
    background: rgb(228, 106, 7);
}


.btn-container button:disabled,
.btn-container button:hover:disabled{
    background-color: #cccccc;
  color: #666666;
    cursor: not-allowed;
}

.switchBtn{
    color: rgb(97, 97, 97);
    background: none;
    border: none;
    padding: .5rem;
    font-size: 1rem;
    margin-top: .5rem;
}

.switchBtn:hover{
    text-decoration: underline;
    cursor: pointer;
}