.form input:focus {
  outline: none;
}

.form {
  flex: 1;
  padding: 1.5rem 0;
}

.submit-btn {
  padding: 0.5rem 3rem;
}

.submit-btn button {
  padding: 0.5rem;
  background: none;
  border: none;
  font-size: 1.1rem;
  background: rgb(231, 89, 37);
  border-radius: 10px;
  margin-top: 0.5rem;
}

.submit-btn button:hover {
  cursor: pointer;
  background: rgb(228, 106, 7);
}

.success {
  padding: 0.2rem 0;
  color: rgb(228, 106, 7);
}
