input[type="search"]{
    padding: .5rem;
    display: block;
    border: 1px solid rgb(34, 34, 34);
    border-radius: 20px;
    width: 20rem;
    background: #ccc url("../../assets/search-icon.svg") no-repeat 18rem center;
}

input[type="search"]::placeholder{
    color: black;
}

.contacts-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.buttons{
    display: flex;
    gap: 1rem;
}

.buttons button{
    padding: .4rem;
    font-size: 1rem;
    background: transparent;
    border: 1px solid #ccc;
    color: #ccc;
    border-radius: 5px;
}

.buttons button:hover{
    background: #ccc;
    color: black;
    cursor: pointer;
}

.select{
    width: 12rem;
    height: 2.5rem;
    font-size: 1.2rem;
    background: none;
    color: #ccc;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.select:hover{
    background: #ccc;
    color: black;
    cursor: pointer;
}

.select option{
    background:rgb(32, 32, 32);
    color: #ccc;
}

