.form-info i {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ccc;
  height: 300px;
  width: 300px;
  background: rgb(56, 56, 56);
  border-radius: 50%;
}

.form-info i:hover {
  background: rgb(88, 88, 88);
  cursor: pointer;
}

.form-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
  border-right: 3px solid rgb(231, 89, 37);
  color: rgb(97, 96, 96);
  font-weight: bold;
}

.add-contact-form {
  width: 95%;
  max-width: 60rem;
  padding: 2rem;
  background: rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 8rem;
}
