.pagination {
  padding: 0;
  margin-top: 2rem;
  display: flex;
  gap: 0.2rem;
}

.pagination button {
  width: 2rem;
  height: 2rem;
  background: #ccc;
  color: black;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.pagination button:hover {
  background: rgb(150, 40, 40);
}

.active {
  background: maroon;
}
